$font-primary: 'Public Sans', sans-serif;
$font-secondary: 'Abril Fatface', cursive;

$color-white: #fff;
$color-white-2: #F5F5F5;
$color-white-3: #EEEEEE;
$color-white-4: #B7B7B7;

$color-black: #000000;
$color-black-2: #141313;
$color-darken: #3a4348;

$color-primary: #006633;
$color-secondary: #FDC600;
$color-dark-green: #2D492D;
$color-text: #333;
$color-orange: #FFA400;