@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import "../assets/scss/bootstrap/functions";
@import "../assets/scss/bootstrap/variables";
@import "../assets/scss/bootstrap/mixins";
@import "../assets/scss/usu-variables.scss";

@import "./breadcrumb-page.scss";
@import "./fasilitas.scss";
@import "./homepage.scss";
@import "./article-page.scss";
@import "./fakultas.scss";
@import "./pimpinan-universitas.scss";
@import "./new-home.scss";
@import "./index-video.scss";
@import "./landingpage-slug.scss";
@import "./search-page.scss";
@import "./calon-mahasiswa.scss";
@import "./dosen.scss";
@import "./kampus-sehat.scss";
@import "./prodi.scss";
@import "./ukm.scss";
@import "./direktori.scss";

$primary-color: rgb(0, 105, 55);
$inactive-color: #c2c2c2;
$text-color: #1d5755;

.row--item {
  margin-top: 40px;
  @media (max-width: 767.98px) {
    margin-top: 14px;
  }
}

.animated {
  @media (max-width: 767.98px) {
    animation: none;
    opacity: 1 !important;
  }
}

.ftco-section {
  &--top {
    padding-top: 80px;
  }
}
.section-page {
  &--pt-0 {
    padding-top: 0;
  }
}

.header-search {
  position: relative;
  padding: 0 10px 0 16px;
  margin-left: 10px;
  border-left: 1px solid $color-white;
  &__toggle {
    color: $color-white;
    font-size: 16px;
    display: block;
    line-height: 1;
    cursor: pointer;
    svg {
      display: block;
    }
  }
  &__form {
    position: absolute;
    right: 0;
    top: 34px;
    z-index: 10;
    display: flex;
    height: 40px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    > input {
      background-color: $color-white;
      padding: 0 20px;
      border: 1px solid #efefef;
      height: 100%;
      flex-grow: 1;
      color: #333333;
      outline: 0;
      font-size: 14px;
    }
    > button {
      display: block;
      height: 100%;
      font-weight: 700;
      padding: 0 14px;
      background-color: #d8d8d8;
      color: #333333;
      border: 0;
      cursor: pointer;
    }
  }
}
.ftco_navbar.scrolled {
  .header-search__form {
    display: none;
  }
}

.carousel .control-dots {
  display: flex;
  justify-content: center;
}
.dot-carossel {
  width: 10px;
  height: 10px;
  margin: 5px;
  bottom: 42px;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  position: relative;
}

.dot-carossel {
  &.active {
    background-color: #e6e6e6;
  }
  &::after {
    position: absolute;
    top: -2px;
    left: -2px;
    right: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    content: "";
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
}

.carousel-caption-custom {
  position: absolute;
  top: 0;
  height: 100%;
  right: 2%;
  left: 44%;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;

  & .content {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;

    & div {
      padding-left: 2em;
      border-left: 1px solid rgba(255, 255, 255, 0.2);

      &::after {
        position: absolute;
        top: 50%;
        left: -2px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        content: "";
        width: 3px;
        height: 80px;
        background: $primary-color;
      }
    }
  }

  & .content p {
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
  }

  & .content h1 {
    color: #fff;
    text-transform: uppercase;
    text-align: left;
  }
}

.slick-dots li.slick-active button:before {
  color: $primary-color;
}

.slick-dots li button:before {
  font-size: 14px;
  color: #e6e6e6;
  opacity: 0.75;
}

.btn-custom.excelent-research {
  float: right;
  margin-right: 3%;
  margin-top: 25px;
  border: none;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: $primary-color;
}

.nav-link {
  padding: 0;
  &.figure {
    color: $color-black;
  }
}

.nav-pills {
  .nav-item {
    &:first-child {
      .nav-link.figure {
        padding-left: 0;
      }
    }
    &:last-child {
      .nav-link.figure {
        &:after {
          display: none;
        }
      }
    }
  }
  .nav-link.figure {
    padding: 0px 20px;
    position: relative;
    font-size: 18px;
    line-height: 1.4;
    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      background-color: $color-white-4;
      top: 0;
      right: 0;
    }
    &.active {
      color: $color-primary;
      background-color: transparent;
    }
  }
}

.figure-content {
  transition: all 2s linear;
  display: block;
}

.hidden {
  display: none;
  opacity: 0;
}

.information-popup {
  z-index: 9999;
  width: 100%;
  position: fixed;
  height: 25vh;
  overflow: hidden;
  background: #fff;
  box-shadow: 6px 15px 15px 21px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 6px 15px 15px 21px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 6px 15px 15px 21px rgba(0, 0, 0, 0.22);

  &.animate {
    -moz-animation: slide 1s ease 2s both;
    -webkit-animation: slide 1s ease 2s both;
    -o-animation: slide 1s ease 2s both;
    -ms-animation: slide 1s ease 2s both;
    animation: slide 1s ease 2s both;
  }

  & .close-button {
    cursor: pointer;
  }

  & .content .image {
    width: 100px;
  }
}

@-moz-keyframes slide /* Firefox */ {
  from {
    height: 0;
    bottom: -20px;
  }
  to {
    height: 25vh;
    bottom: 0;
  }
}

@-webkit-keyframes slide /* Safari and Chrome */ {
  from {
    height: 0;
    bottom: -20px;
  }
  to {
    height: 25vh;
    bottom: 0;
  }
}

@-o-keyframes slide /* Opera */ {
  from {
    height: 0;
    bottom: -20px;
  }
  to {
    height: 25vh;
    bottom: 0;
  }
}

@-ms-keyframes slide /* IE10 */ {
  from {
    height: 0;
    bottom: -20px;
  }
  to {
    height: 25vh;
    bottom: 0;
  }
}

@keyframes slide {
  from {
    height: 0;
    bottom: -20px;
  }
  to {
    height: 25vh;
    bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .carousel-caption-custom {
    right: 3%;
    left: 3%;
  }

  .btn-custom.excelent-research {
    float: left;
    margin-left: 6%;
  }

  .information-popup {
    overflow-y: auto;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .loading-image {
    width: 80px;
  }
}

@media screen and (min-width: 768px) {
  .carousel-caption-custom .content {
    flex: 0 0 58.33333%;
  }
}

.nav-link a {
  color: inherit;
}

// .public-lecture-slider {
//   margin: 0px auto;
//   width: 33.3%;
//   & .item {
//     background-color: #fff;
//   }
// }
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: $primary-color;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px $primary-color, 0 0 5px $primary-color;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.heading {
  text-transform: uppercase;
}

// .home-parallax-banner {
//   z-index: -1;

//   & .container {
//     z-index: 99;
//   }
// }

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: $primary-color;
  border-left-color: $primary-color;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-outline-primary {
  color: $primary-color;
  border-color: $primary-color;

  &:hover,
  &:active {
    background-color: $primary-color !important;
    color: #fff !important;
  }
}

.label-faculty {
  font-weight: 600;
  font-size: 13.33px;
  letter-spacing: 0.09em;
  line-height: 30px;
}

.custom-select {
  height: 50px;
  border-radius: 3px;
  border: 1px solid #c2c2c2;
  font-weight: normal;
  letter-spacing: 0.03em;
  line-height: 24px;
  text-align: left;
  // color: #c2c2c2;
  color: #000;
  & > option {
    color: #000;
  }
}

.btn-filter {
  height: 50px;
  border-radius: 3px;
  background: transparent;
  border-color: $inactive-color;
  color: black;

  &.level {
    width: 55px;
  }

  &.profession {
    width: 126px;
  }

  &.active:not(:disabled):not(.disabled),
  &:hover {
    border-color: $primary-color !important;
    color: $primary-color !important;
    background: transparent !important;
  }
}

.faculty-table {
  color: $text-color;
  & th {
    border-top: transparent;
    text-transform: uppercase;
    border-bottom: 3px solid #28a745 !important;
  }

  & td {
    border-bottom: 1px solid #a8dcbd;
    letter-spacing: 0.09em;
    line-height: 30px;
    text-align: left;
    color: #282828;
    padding: 16px;
    &.faculty-name {
      text-transform: uppercase;
    }
  }
  @media (max-width: 767.98px) {
    &.table {
      th,
      td {
        padding: 12px 10px;
        font-size: 14px;
        line-height: 1.3;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
      td {
        font-size: 13px;
      }
      ul {
        margin-bottom: 0;
      }
    }
  }
}

.faculties-filter {
  .btn-filter {
    margin: 0 8px;
  }
  @media (max-width: 767.98px) {
    > [class|="col"] {
      margin-bottom: 10px;
    }
    .custom-select {
      height: 40px;
      font-size: 14px;
    }
    .btn-filter {
      margin: 0 5px;
      height: auto;
      width: auto;
      padding: 8px 14px;
      font-size: 14px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.page-link {
  color: black;
  border-color: black;
}

.page-item.active .page-link {
  background-color: $primary-color;
  border-color: $primary-color;
}

.logo {
  margin-right: 5px;
  float: left;
  @media (max-width: 767.98px) {
    height: 40px;
    width: auto;
  }
}

.article-title {
  height: auto;
  font-size: 50px;

  & > div {
    padding-left: 1em;
    border-left: 1px solid #a8dcbd;
    display: flex;
    align-items: center;
    height: 100%;

    & > h2 {
      text-transform: uppercase;
      margin: 0;
      margin: 20px 0px;
      color: $primary-color;
    }
  }
  &::after {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    content: "";
    width: 3px;
    height: calc((100%) / 1.7);
    background: #00b16a;
  }
}

.article-random-image {
  width: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  will-change: opacity;
}

.article-image {
  object-fit: cover;
  width: 100%;
}

.article-description {
  padding-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  text-align: justify;
  color: #000;
}

.article-container {
  padding-bottom: 26px;
}

.another-articles {
  margin-top: 26px;

  & .another-article-title {
    font-weight: 600;
    letter-spacing: 0.09em;
    text-align: left;
    color: #00b16a;
  }
}

.section-category {
  font-size: 20px;
  letter-spacing: 1.2px;
  margin-bottom: 24px;
}

.streaming-page {
  .nav-pills {
    margin-bottom: 60px;
  }
}

.featured-streaming {
  background: linear-gradient(90deg, $color-primary, $color-primary 50%, $color-white 50%);
  margin-bottom: 80px;
  > div {
    padding: 80px 0;
    background-color: $color-primary;
  }
  .section-category {
    color: $color-white;
    margin-bottom: 40px;
  }
  .article-item {
    position: relative;
    margin-bottom: 0;
    padding-left: 36px;
    &__ornament {
      position: absolute;
      top: -10px;
      left: 0;
      > img {
        width: 100px;
      }
    }
    &__image {
      padding-right: 30px;
    }
  }
  .article-detail-item {
    .post-date-author,
    .article-title,
    .article-desc {
      color: $color-white;
    }
  }
}

.with-border {
  border-bottom: 2px solid #a8dcbd;
}

.article-thum {
  width: 100%;
  object-fit: cover;
}

.article-item {
  margin-bottom: 30px;
  &__image {
    position: relative;
    > img {
      display: block;
      height: 320px;
    }
    > .play-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 40px;
      padding: 14px 10px 14px 18px;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 50%;
      > svg {
        display: block;
      }
    }
  }
}

.article-detail-item {
  .article-title {
    display: block;
    > h6 {
      font-size: 32px;
      line-height: 1.1;
      font-weight: 700;
      margin-bottom: 20px;
    }
    &:after {
      display: none;
    }
  }
  .post-date-author {
    color: $color-black;
    font-size: 10px;
    margin-bottom: 8px;
  }
  .article-desc {
    color: $color-black;
    font-size: 16px;
    line-height: (20/16);
  }
}

.cml {
  margin-left: 3rem;
}

@media screen and (max-width: 768px) {
  .cml {
    margin-left: 1rem;
  }
}

/* custom */

.judul-laman {
  color: rgb(0, 105, 55);
  line-height: 1em;
  @media (max-width: 767.98px) {
    font-size: 26px;
  }
}

.hijau {
  color: rgb(0, 105, 55);
  // text-align: justify;
}

.tebal {
  font-weight: 500;
}

.garis-hijau {
  height: 1px;
  border-color: rgb(0, 105, 55);
}

.selanjutnya {
  font-weight: 500;
}

.icon-grey {
  color: #333;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.tulisan_kiri {
  text-align: left;
}

.tulisan_kanan {
  text-align: right;
}

.tulisan_tengah {
  text-align: center;
}

.tulisan_justify {
  text-align: justify;
  color: #000;
}
.gambar {
  max-width: 100%;
  height: 400px;
}

.no-click {
  pointer-events: none;
}

.mainmenubtn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 20px;
  margin-top: 10px;
}
.mainmenubtn:hover {
  background-color: transparent;
}
.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 0px;
  border-right: none;
}
.dropdown-child {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 100px;
  padding: 0 0 0 0;
  margin: 0 0 0 0 0;
  list-style: none;
  font-size: 14px;
  text-align: center;

  border-radius: 1px;
  -webkit-box-shadow: 0 5px 5px rgb(0 0 0 / 13%);
  box-shadow: 0 5px 5px rgb(0 0 0 / 13%);
  background-clip: padding-box;
}
.dropdown-child a {
  color: white;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  padding-top: 70vh;
  border: 1px solid #999;
  overflow: hidden;

  > iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}

.box-agenda {
  position: relative;
  width: 82%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.close-icon-agenda {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(9% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.admission_blue {
  background: rgb(236, 235, 235);
  padding: 35px;
  margin-bottom: 20px;
  width: 400px;
  height: 150px;
}

.admission_blue .title {
  // border-bottom: 2px solid #28a745;
  position: relative;
  padding-bottom: 0;
}

.admission_blue .content_admission {
  padding-top: 5px;
  padding-bottom: 5px;
}

.section-page-search {
  display: flex;
  height: 56px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  width: 100%;
  position: relative;
  font-size: 16px;
  margin-top: 60px;
  @include media-breakpoint-down(sm) {
    margin-top: 30px;
    height: 40px;
    font-size: 14px;
  }
  > .icon {
    position: absolute;
    top: 50%;
    left: 75px;
    transform: translateY(-50%);
    display: block;
    line-height: 1;
    color: #b4b4b4;
    > svg {
      display: block;
    }
    @include media-breakpoint-down(sm) {
      left: 15px;
    }
  }
  > input {
    background-color: $color-white;
    padding: 0 80px 0 100px;
    border: 1px solid #efefef;
    height: 100%;
    flex-grow: 1;
    color: #333333;
    outline: 0;
    @include media-breakpoint-down(sm) {
      padding: 0 15px 0 40px;
    }
  }
  > button {
    display: block;
    height: 100%;
    font-weight: 700;
    padding: 0 40px;
    background-color: #d8d8d8;
    color: #333333;
    border: 0;
    cursor: pointer;
    @include media-breakpoint-down(sm) {
      padding: 0 20px;
    }
  }
}

.footer__school-title-arrow-icon {
  position: absolute;
  top: 0;
  right: 8px;
  height: 18px;
  width: 18px;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  color: #b1863d;
}
.footer__school-title {
  font-size: 17px;
  font-family: "Soehne", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}
.footer__school-title-link {
  display: block;
  position: relative;
}

.footer__school-title-arrow-icon {
  position: absolute;
  top: 0;
  right: 8px;
  height: 18px;
  width: 18px;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  color: #b1863d;
}

.footer__school-title-text {
  display: block;
  padding-right: 57px;
}

.footer__school-desc {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #b2b1af;
  line-height: 1.35;
  margin-top: 8px;
}
